;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :dev-http {3333 "public"}

 :builds
 {:app {:target :browser
        :modules {:main {:entries [app.main]}}
        :output-dir "public/js/compiled/"
        :asset-path "js/compiled/"
        :compiler-options {:language-in :es6
                           :output-feature-set :es6
                           :source-map true
                           :output-wrapper true}}}}
